MONGODB_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/lost2found?appName=LostFoundCluster
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
SESSION_SECRET=some-long-random-string
# Optional:
# CLOUDINARY_FOLDER=lost2found
